<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Non-standards</title>
        <link   rel="stylesheet"
                href="/static/bootstrap/css/cyborg-bootstrap.min.css">

        <style type="text/css">
            fieldset {
                padding: 12px;
            }
            body {
                color: #dedede;
            }
        </style>
    </head>

    <body>
        <div class="hero-unit">
            <h1>Non-standards</h1>
        </div>

        <div class="container lead">
            <p class="lead">
            Push button, receive jazz.
            </p>
        </div>
    </body>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script> 
    <script type="text/javascript"> 
        google.load("jquery", "1.7");
    </script>

    <script type="text/javascript" src="/static/js/ui.js"></script>
</html>
